replicaCount: 2

image:
  repository: app-notas
  tag: "1.0"
  pullPolicy: IfNotPresent

app:
  port: 5000
  env: "prod"

service:
  type: ClusterIP
  port: 5000

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi
  mountPath: /data
